<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h1>  <%=data_subjectstudent[0].Subject.subject_name%></h1>
     <a href="/subjects">back to Subject List</a> <br> <br>
      <table>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th></th>
          <th colspan='2'></th>
        </tr>
        <% var sum=1;%>
        <% data_subjectstudent.forEach(ss =>{%>
        <tr>
          <td><%= sum++ %></td>
          <td><%= ss %></td>
          <%})%>
        </table>
      <br>
  </form>
  </center>
  </body>
</html>
