<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layouts/pagetitleteacher %>
  </head>
  <body>
  <center>
    <h2>ADD NEW TEACHER</h2><br><br>
    <form action="/teacher/add" method="POST">
    First Name:
    <br>
    <input type="text" name="first_name" value="">
    <br>
    Last Name:
    <br>
    <input type="text" name="last_name" value="">
    <br>
    Email Name:
    <br>
    <input type="text" name="email" value="">
    <br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
