<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <table>
      <tr>
        <th>
          ID :
        </th>
        <th>
          Nama Pelajaran :
        </th>
      </tr>
      <% dataSubject.forEach(subject => {%>
        <th>
          <%= subject.id %>
        </th>
        <th>
          <%= subject.subject_name %>
        </th>
      <%})%>
    </table>
  </body>
</html>
